@charset "utf-8";
/* CSS Document */

html{
	padding: 0px;
}

#header {
	background: rgb(70,130,180);
    background: linear-gradient(180deg,rgba(21,64,99,1) -10%, rgba(70,130,180,1) 50%, rgba(21,64,99,1) 150%);
	margin: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    box-shadow: 0px 5px rgba(133, 199, 255,.5);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

#txt {
    background: rgb(233,233,233);
    background: linear-gradient(0deg, rgba(233,233,233,1) 35%, rgba(203,203,203,1) 100%);
}

input:focus {
  border: none;
}

h2 {
	color: #929292; 
	font-family: consolas, Charcoal, sans-serif; 
    margin-bottom: 30px;
	text-shadow: 0px 1px 0px rgba(255,255,255,1);
}

h1 {
	color:#fff; 
	font-family: consolas, Charcoal, sans-serif; 
	white-space: nowrap;
	font-family: monospace;
    white-space: pre;
	margin: 0px;
}

p {
	color:#000; 
	font-family: consolas, Charcoal, sans-serif; 
}

.hidden{
	display: none;
}

/* URLS */

a.URL {
    display: inline;
    color: #018600; 
	font-family: consolas, Charcoal, sans-serif; 
	white-space: nowrap;
    font-size: 1.5em;
}

a.hovered-URL {
    color: black;
    background-color: #018600;
}

.alignLeft {
	text-align: left;
}

.alignRight {
	text-align: right;
}



/* BEGIN CHATTING WITH JEFF ADDITIONS */

.computer-message {
    position: relative;
    margin-bottom: 40px;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.computer-message-img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.computer-message-bubble {
    position: relative;
    background-color: lightgreen;
    
    padding: 30px;
    
    border-radius: 10px;
    
    max-width: 60%;
}

.message-text {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

.profile-img {
    max-height: 100%;
    max-width: 100%;
}


/* player  */

.player-message {
    position: relative;
    margin-bottom: 40px;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.player-message-img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.player-message-bubble {
    position: relative;
    background-color: lightblue;
    
    padding: 30px;
    
    border-radius: 10px;
    
    max-width: 60%;
}




#log {
    position: relative;
    top: 60px;
	margin-top: 40px;
}




.right-message-tail:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: lightblue;
	border-right: 0;
	margin-top: -10px;
	margin-right: -10px;
}


.left-message-tail:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: lightgreen;
	border-left: 0;
	margin-top: -10px;
	margin-left: -10px;
}


